extends /headered

block title
	title #{$msgs$.sitename} - #{$msgs$.periodicTable}	

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')
	
block content
	- var specialShowables=["symbol","radioactive","id","mass","name","localizedName","inert"], unspecialShowables=[], showables=[]
	- for(var v in data.chemicalElements["H"])
		- var exists=false
		- for(var v1=0;v1<specialShowables.length;v1++)
			- if(specialShowables[v1]===v)
				- exists=true
		- if(!exists)
			- unspecialShowables.push(v)
	- for(var v=0;v<specialShowables.length;v++)
		- showables.push(specialShowables[v])
	- for(var v=0;v<unspecialShowables.length;v++)
		- showables.push(unspecialShowables[v])
	- function createChemicalElementCell(element)
		td(style="position: relative;width: 100%;height: 100%;")
			- if(!element)
				- return
			- var colspanSize=3
			div.inert-element(style="width: 100%;height: 100%;z-index: -1;position: absolute;background-color: "+(data.chemAPI.isInert(element)?"purple":"lightgray"))
			table(style="width: 100%;")
				tr
					td.symbol-element(align="left")
						a(style="font-size: 12px;font-weight: bold;" href="/workspace/utils/subjects/chemistry/elementInfo/"+element.symbol) #{element.symbol}
					td.radioactive-element(align="center")
						div(style="width: 16px;height: 16px;font-size: 14px;font-weight: bold; color: yellow;") #{element.id>=84&&element.id<=118?"✱":" "}
					td.id-element(align="right")
						span(style="font-size: 12px;font-weight: bold;right: 0px;position: relative;") #{element.id}
				tr
					td(colspan=colspanSize-1)
					td.mass-element(align="right")
						span(style="font-size: 11px;top: 0px;") #{element.mass}
				tr
					td.name-element(colspan=colspanSize)
						span(style="font-size: 11px;") #{element.name}
				tr
					td.localizedName-element(colspan=colspanSize)
						span(style="font-size: 11px;") #{data.chemicalElementsNames[element.name]}
				- for(var v in element)
					- var exists=false
					- for(var v1=0;v1<specialShowables.length;v1++)
						- if(specialShowables[v1]===v)
							- exists=true
					- if(!exists)
						tr
							td(class=v+"-element" colspan=colspanSize style="display: none;opacity: 0;")
								span(style="font-size: 11px;") #{element[v]}
	- var elementsTable=[], advTable=[]
	- for(var v in data.chemicalElements)
		- if(data.chemicalElements[v].id>=57&&data.chemicalElements[v].id<=71||data.chemicalElements[v].id>=89&&data.chemicalElements[v].id<=103)
			- if(!advTable[advTable.length-1]?true:advTable[advTable.length-1].length===15)
				- advTable.push([])
			- advTable[advTable.length-1].push(data.chemicalElements[v])
		- else
			- if(!elementsTable[data.chemicalElements[v].period-1])
				- elementsTable[data.chemicalElements[v].period-1]=[]
			- var pos=data.chemAPI.isInert(data.chemicalElements[v])?17:elementsTable[data.chemicalElements[v].period-1].length
			- elementsTable[data.chemicalElements[v].period-1][pos]=data.chemicalElements[v]
	table.borderedTable(border="1" style="max-width: 0px;")
		thead
			tr
				td
				- for(var v1=0;v1<18;v1++)
					th= v1+1
		tbody
			- for(var v=0;v<elementsTable.length;v++)
				tr
					th= v+1
					- if(elementsTable[v])
						- for(var v1=0;v1<elementsTable[v].length;v1++)
							- createChemicalElementCell(elementsTable[v][v1])
	table.borderedTable(border="1" style="max-width: 0px;")
		tbody
			- for(var v=0;v<advTable.length;v++)
				tr
					th Lantanoids
					- for(var v1=0;v1<advTable[v].length;v1++)
						- createChemicalElementCell(advTable[v][v1])
	table.borderedTable(border="1" style="max-width: 0px;position: absolute;top: 0px;")
		thead
			tr
				th Element
				th Exists
				th Visible
		tbody
			- for(var v=0;v<specialShowables.length;v++)
				tr
					td(align="center")
						label #{specialShowables[v]}
					td(align="center")
						input(id=specialShowables[v]+"-exists-control" type="checkbox" value=specialShowables[v] oninput="var vs=document.getElementsByClassName('"+specialShowables[v]+"-"+"element"+"');for(var v=0;v<vs.length;v++)vs[v].style.display=this.checked?'':'none'" checked=true)
					td(align="center")
						input(id=specialShowables[v]+"-visible-control" type="checkbox" value=specialShowables[v] oninput="var vs=document.getElementsByClassName('"+specialShowables[v]+"-"+"element"+"');for(var v=0;v<vs.length;v++)vs[v].style.opacity=this.checked?1:0" checked=true)
			- for(var v=0;v<unspecialShowables.length;v++)
				tr
					td(align="center")
						label #{unspecialShowables[v]}
					td(align="center")
						input(id=unspecialShowables[v]+"-exists-control" type="checkbox" value=unspecialShowables[v] oninput="var vs=document.getElementsByClassName('"+unspecialShowables[v]+"-"+"element"+"');for(var v=0;v<vs.length;v++)vs[v].style.display=this.checked?'':'none'" checked=false)
					td(align="center")
						input(id=unspecialShowables[v]+"-visible-control" type="checkbox" value=unspecialShowables[v] oninput="var vs=document.getElementsByClassName('"+unspecialShowables[v]+"-"+"element"+"');for(var v=0;v<vs.length;v++)vs[v].style.opacity=this.checked?1:0" checked=false)