extends /headered

block title
	title #{getMsg('testing')} - #{getMsg('sitename')}

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')

block content
	script.
		function goToQuestion(number)
		{
			requestQuery.questionNumber=number
			function func(obj, path)
			{
				path=(path===undefined?"":path)
				var q=""
				if(typeof(obj) === "object")
					for(var v in obj)
						q+=path+v+"="+func(obj[v], path+v+".")+"&"
				else if(typeof(obj) !== "function")
					q=obj+""
				return q
			}
			window.location.search='?'+func(requestQuery)
		}
		function save()
		{
			sendRequest('post','/testing','questionNumber=#{data.test.testQuestionNumber}&testingId=#{data.testing._id}&userAnswer='+JSON.stringify(getUserAnswer()))
		}
		var testElText
		function timerClick(th)
		{
			var testEl=document.getElementById('test')
			if(th.getAttribute('class').indexOf('activeCSS')===-1)
			{
				th.setAttribute('class',th.getAttribute('class')+' activeCSS')
				testElText=testEl.innerHTML
				testEl.innerHTML=""
				th.setAttribute('title',getMsg('clickToUnpause'))
			}
			else
			{
				th.setAttribute('class',th.getAttribute('class').replace('activeCSS',''))
				testEl.innerHTML=testElText
				th.setAttribute('title',getMsg('clickToPause'))
			}
		}
	button#timer.greenButton(onclick="timerClick(this)" title=getMsg('clickToPause'))
	div#test
		table
			tr
				- for(var v=0;v<data.test.questionsCount;v++)
					td
						button.greenButton(disabled=!data.testSettings.canGoToAllAnswers title=!data.testSettings.canGoToAllAnswers?getMsg('inThisTestCantGoToAllAnswers'):undefined onclick="save();goToQuestion("+v+")")!= v
		table
			tr
				td
					button#back.greenButton(disabled=data.test.testQuestionNumber<=0 title=data.test.testQuestionNumber<=0?getMsg('questionsBeforeThisNotExist'):undefined onclick="save();goToQuestion(Number.parseInt(requestQuery.questionNumber)-1)") #{getMsg('back')}
				td
					button#next.greenButton(disabled=data.test.testQuestionNumber>=data.test.questionsCount-1 title=data.test.testQuestionNumber>=data.test.questionsCount-1?getMsg('questionsAfterThisNotExist'):undefined onclick="save();goToQuestion(Number.parseInt(requestQuery.questionNumber)+1)") #{getMsg('next')}
		div.question(style="margin: 20px;") #{getMsg('questionNumber')} #{data.test.testQuestionNumber}
			div!= data.test.testQuestion.question.html
			- if(!data.test.testQuestion.answerVariantsInOriginalOrder)
				- var vs = []
				- var vars = {}
				- for(var v=0;v<data.test.testQuestion.answerVariants.length;v++)
					- vars[v]=data.test.testQuestion.answerVariants[v]
				- for(var v=data.test.testQuestion.answerVariants.length-1;v>=0;v--)
					- var rand=Math.round(Math.random()*v)
					- vs.push(vars[rand])
					- var vars2=[]
					- for(var v1=0;v1<v+1;v1++)
						- if(v1!=rand)
							- vars2.push(vars[v1])
					- vars={}
					- for(var v1=0;v1<vars2.length;v1++)
						- vars[v1]=vars2[v1]
				- data.test.testQuestion.answerVariants=vs
			- if(data.test.testQuestion.type==='chooseOne')
				- for(var v=0;v<data.test.testQuestion.answerVariants.length;v++)
					button.greenButton.answerVariant(title=getMsg('answerVariantNumber')+v onclick="var vs=document.getElementsByClassName('answerVariant');for(var v=0;v<vs.length;v++)vs[v].setAttribute('class',vs[v].getAttribute('class').replace('activeCSS',''));this.setAttribute('class',this.getAttribute('class')+' activeCSS');")!= data.test.testQuestion.answerVariants[v].html
				script.
					function getUserAnswer()
					{
						return document.getElementsByClassName('answerVariant activeCSS')[0].textContent
					}
			- if(data.test.testQuestion.type==='enterText')
				input#answerEnter(title=getMsg('fieldForTextAnswerEnter'))
				script.
					function getUserAnswer()
					{
						return document.getElementById('answerEnter').value
					}
			- if(data.test.testQuestion.type==='selectMultiple')
				- for(var v=0;v<data.test.testQuestion.answerVariants.length;v++)
					button.greenButton.answerVariant(title=getMsg('answerVariantNumber')+v onclick="if(this.getAttribute('class').indexOf('activeCSS')===-1)this.setAttribute('class',this.getAttribute('class')+' activeCSS');else this.setAttribute('class',this.getAttribute('class').replace('activeCSS',''));")!= data.test.testQuestion.answerVariants[v].html
				script.
					function getUserAnswer()
					{
						var answers=[]
						var vs=document.getElementsByClassName('answerVariant activeCSS')
						for(var v=0;v<vs.length;v++)
							answers.push(vs[v].textContent)
						return answers
					}
		script.
			var time=#{JSON.stringify(data.testing.date.getTime()+data.testing.timeLimit)}
			console.log(time)
			var g=false
			function lengthed(v)
			{
				g=g||v.indexOf("00")!==0
				return !g?"":v
			}
			function recalc()
			{
				if(time==="unlimited")
					return document.getElementById("timer").textContent=getMsg('unlimited')
				g=false
				var timeTo=time-new Date().getTime()
				return document.getElementById("timer").textContent=lengthed(addZeros(Math.floor(timeTo/1000/60/60%24))+":")+lengthed(addZeros(Math.floor(timeTo/1000/60%60))+" ")+lengthed(addZeros(Math.floor(timeTo/1000%60)))
			}
			recalc()
			setInterval(recalc, 1000)
		button#saveTest.greenButton(onclick="save()") #{getMsg('saveTest')}
		button#exit.greenButton(onclick="save();window.location.pathname='/'") #{getMsg('exit')}