extends /headered

block title
	title #{$msgs$.testCreation} - #{$msgs$.sitename}

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')

block content
	- for(var v=0;v<data.testsInfo.length;v++)
		button
			a.nontexthref(href="/test?id="+data.testsInfo[v].id) #{data.testsInfo[v].name} v#{data.testsInfo[v].version} by #{data.testsInfo[v].authors}, committed by #{data.testsInfo[v].committer}, id='#{data.testsInfo[v].id}'